.checklist-frame {
    border: 0;
    width: 100%;
}

.lipidomics-forms-page {
}

.lipidomics-forms-field {
    margin: 0 0 25px 0;
    width: 100%;
}

.lipidomics-forms-field-title {
    margin: 1px 0 1px 0;
}

.lipidomics-forms-input-table {
    border-radius: 5px;
}


.lipidomics-forms-tooltip-frame {
    position: relative;
    display: inline-block;
}

.lipidomics-forms-tooltip-frame .lipidomics-forms-tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    z-index: 1;
    bottom: 150%;
    text-align: center;
    border-radius: 6px;
    padding: 8px 6px;
    position: absolute;
    left: 55%;
    transition: opacity 0.3s;
    white-space:nowrap;
    margin-left: -91px;
    opacity: 0;
}

.lipidomics-forms-tooltip-frame .lipidomics-forms-tooltip-text::after {
    content: "";
    margin-left: -5px;
    border-width: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.lipidomics-forms-tooltip-frame:hover .lipidomics-forms-tooltip-text {
    opacity: 1;
    visibility: visible;
}


.lipidomics-forms-input-table-field {
    border-radius: 2px;
    padding: 0 0 0 0;
    border: 1px solid #ccc;
    width: 98%;
}

.lipidomics-forms-field-content {
}

.lipidomics-forms-required-message {
    color: #990000;
}

.lipidomics-forms-input {
    padding: 6px 10px;
    max-width: 60%;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
}

.lipidomics-forms-publishing-info-box {
    position: fixed;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    width: 600px;
    height: 700px;
    left: calc(50% - 300px);
    top: calc(50% - 350px);
    border: 1px solid black;
    background-color: white;
    overflow: auto;
    z-index: 1000;
    display: none;
}

li.lipidomics-forms-publishing-li {
    margin: 5px 0;
}

.lipidomics-forms-number {
    padding: 6px 10px;
    max-width: 60%;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
}

.lipidomics-forms-li {
    padding: 6px 10px;
    max-width: 60%;
    width: 100%;
}

.lipidomics-forms-select {
    padding: 6px 10px;
    max-width: 60%;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    text-transform: none;
    white-space: nowrap;
    background-color: #fff;
}

.lipidomics-forms-multiple {
    list-style: none;
    padding-left: 0;
    margin: 0px 0 0px 0;
}

.lipidomics-forms-field-description {
    font-size: 13px;
    margin: 1px 0 1px 0;
}

.submit-button {
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 5px;
    min-width: 90px;
    text-align: center;
    padding: 10px 15px;
}

.submit-button:hover {
    background-color: #eee;
}

.submit-button:active {
    background-color: #ccc;
}

.lipidomics-forms-status {
    margin: 0 0 30px 0;
}

.lipidomics-forms-status-bar {
    background-color: #ddd;
    height: 18px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 5px 0 0;
    padding: 0 0 0 0;
}

.lipidomics-forms-status-bar-progress {
    background-color: #009900;
    height: 18px;
    border-radius-left: 10px;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
}
